

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: red;
}
    /*------------------------------------ INTERFACE PRINCIPAL --------------------------*/
.container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template: 80px 1fr / 250px 1fr;
}
.menu{
    display: flex;
    flex-direction: column;
    background-color: #0A043C;
}
.menu h2{
    font-size: 23px;
    line-height: 80px;
    color:crimson;
    text-align: center;
}
/* ---------------------------------------- */
.navigation {
    background-color: #647B98;
    font-family: Andalan;
    line-height: 80px;
}
.grandTitre{
    display: flex;
    justify-content: space-around;
}
.grandTitre p {
    color: #EEEEEE;
    font-size: 35px;
    text-align: center;
}
.iconeSearch{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
}
.buttonSearch{
    display: flex;
    align-items: center;
}
#recherche{
    width: 160px;
    border: 0;
    height: 26px;
    margin: auto 2px;
    border-radius: 9999px;
    padding: 5px;
    font-size: 13px;
}
/* -------------------------------------------- */

.dataContainer{
    background-color: #DDDDDD;
    position: relative;
}
.navlist{
    background-color: #0A043C;
    font-family: Andalan;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav{
    position: relative;;
    display: flex;
    height: 40px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
    line-height: 40px;
    font-size: 23px;
    margin-right: 5px;
    padding-right: 5px;
    transition: all .4s ease-in-out;
    border-radius:9999px;
    z-index: 100;
}
.menuImage{
    display: flex;
    justify-content: center;
    margin:5px;
    width:150px;
    height:150px;
    background-color: #0A043C;
    margin-right: 50%;
    transform: translateX(50%);
}
.imgMenu{
position: relative;
 width: 100%;
 height: 100%;
}
.navContent{
    margin-top: 10px;
}
.icone{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: auto 5px;
}
.icone img{
    height: 100%;
    width: 100%;
    background: transparent;
}
/*----------------------------RESPONSIVE DE L'INTERFACE------------------------------------*/
@media screen and (max-width:1080px) {
    .grandTitre p {
        font-size: 30px;
    }
}
@media screen and (max-width:980px) {
    .container{
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template: 60px 1fr / 200px 1fr;
    }
    .grandTitre p {
        font-size: 28px;
        line-height: 60px;
    }
 
    .menu h2{
        font-size: 19px;
        line-height: 60px;
        color:crimson;
        text-align: center;
    }
}
@media screen and (max-width:948px) {
    .container{
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template: 60px 1fr / 200px 1fr;
    }
    .menu h2{
        font-size: 19px;
        line-height: 60px;
        color:crimson;
        text-align: center;
    }
    .nav{
    font-size:18px;
    }
    .grandTitre p {
        font-size: 28px;
        line-height: 60px;
    }
}
@media screen and (max-width:904px) {
    .container{
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template: 60px 1fr / 200px 1fr;
    }
    .menu h2{
        font-size: 17px;
        line-height: 60px;
        color:crimson;
        text-align: center;
    }
    .grandTitre p {
        font-size: 26px;
    }
}
@media screen and (max-width:850px) {
    .container{
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template: 55px 1fr / 200px 1fr;
    }
    .menu h2{
        font-size: 16px;
        line-height: 55px;
        color:crimson;
        text-align: center;
    }
    .grandTitre p {
        font-size: 23px;
        line-height: 55px;
    }

}
@media screen and (max-width:810px) {
    .container{
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template: 50px 1fr / 150px 1fr;
    }
    .grandTitre p {
        font-size: 20px;
        line-height: 50px;
    }
    .menu h2{
        font-size: 13px;
        line-height: 50px;
        color:crimson;
        text-align: center;
    }
    .imgMenu{
        position: relative;
         width:150px;
         height: 100%;
        }
}
@media screen and (max-width:699px) {
    .grandTitre p {
        font-size: 20px;
        line-height: 40px;
    }
    #recherche{
        width: 0px;
       }
}
@media screen and (max-width:655px) {
    .container{
        grid-template: 40px 1fr / 45px 1fr;
    }
    .grandTitre p {
        font-size: 23px;
        line-height: 40px;
    }
    .menu h2{
        font-size: 13px;
        line-height: 40px;
        color:crimson;
        text-align: center;
    }
    .nav{
        font-size: 15px;
    }
    .buttonSearch{
        display: flex;
        align-items: center;
    }
    #recherche{
     width: 0px;
    }
    .menuImage {
        display: none;
    }
  .navlist{
    grid-area: 1 1 / -1 -1;
  }
  .texteNav{
    display: none;
  }

}
@media screen and (max-width:497px) {
    .grandTitre p {
        font-size: 18px;
        line-height: 40px;
    }
}
@media screen and (max-width:399px) {
    .grandTitre p {
        font-size: 18px;
        line-height: 40px;
    }
    .iconeSearch{
      display: none;
    }
}
@media screen and (max-width:370px) {
    .grandTitre p {
        font-size: 13px;
        text-align: center;
    }
}
/*------------------------------------PAGE ACCEUIL--------------------------------------------*/


.home{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    height: 100%;
    overflow: hidden;
    opacity:0;
}
.box p{
    font-size: 18px;
    margin-top: 10px;
}
.welcome{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
}
.produitContainer{
    margin-top: 20px;
    padding: 10px;
    height: 80vh;
 display: flex;
 flex-wrap:wrap ;
 justify-content:center;
 align-items:center;
 gap:10px 15px;
 align-content: center;
}
.box{
    border-radius: 10px;
    text-align: center;
    border: 2px solid;
    min-height: 150px;
    height: 200px;
    width: 200px;
    padding: 15px;
    padding-top: 5px;
    transition: all .3s ease-out;
}
.pic1{
    background-image:url(icons/sites-internet.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80%;
}
.pic2{
    background-image:url(icons/ajoutP.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80%;
}
.pic3{
    background-image:url(icons/suppr.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80%;
}
.pic4{
    background-image:url(icons/modif.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80%;
}
.pic5{
    background-image:url(icons/update.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80%;
}
.pic6{
    background-image:url(icons/quitter.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80%;
}


/* -----------------RESPONSIVE DE LA PAGE D'ACCEUIL------------------------------------- */
.homeResponsive{
    display: none;
    }
    .homeResponsive img{
        height:80px;
        width: 80px;
        border-radius:50%;
        object-fit: contain;
    }
    .bienvenu{
  display: none;
    }
    .textCorrespondand{
        display: none;
        transition: all .3s ease;
    }
    .texte{
overflow: hidden;
border-right: 1px solid;
width: 0px;
letter-spacing:15px;
font-size: 45px;
animation: write 3s steps(10,end) forwards;
font-family: cursive;
margin-bottom: 10px;
    }
@media screen and (max-width:862px) {
    .bienvenu{
        position:absolute;
        top: 10px;
        display: block;
        margin-top: 15px;
    }
    .home{
        display: flex;
        align-items: center;
    }
    .home{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .box{
        border-radius: 10px;
        text-align: center;
        border: 2px solid;
        min-height: 90px;
        height: 140px;
        width: 150px;
        padding: 20px;
        padding-top: 5px;
        transition: all .3s ease-out;
    }
    .box p{
        font-size: 14px;
    }
}
    


@media screen and (max-width:395px) {
}
@media screen and (max-width:516px) {
 
    .lettre{
        width: 30px;
        height: 30px;
        border-left: 1px solid;
        line-height: 30px;
        text-align: center;
    }
}
@media screen and (max-width:492px) {
    .texte{
        font-size: 30px;
    }
}
@media screen and (max-width:452px) {
    .texte{
        font-size: 30px;
    }
}
@media screen and (max-width:370px) {
    .texte{
        font-size: 20px;
    }
}

/*----------------ANIMATION---------------------------*/
.nav:hover{
    background: #647B98;
    cursor: pointer;
    color: crimson;
    box-shadow: 0 0 .4 #647B98;
    transform: translateX(50px);
}
.box:hover{
    transform: scale(1.1);
}
@keyframes write {
    from{width: 0}
    to{width: 100%}
}

                /* AJOUT PAGE */

 .ajout{
    position:absolute;
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    opacity: 0;
}
.formAdd {
    width:auto;
    height: auto;
font-size: 23px;
padding: 20px;
border-radius: 5px;
box-shadow: 0px 0px 2px .5px #0A043C;
}
.inputAdd{
    height:35px;
    width: 300px;
    border-radius: 9999px;
    margin:15px
}
.imageAdd{
    text-align: center;
    height: 110px;
    width: 120px;
border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    cursor: pointer;
    border: 1px solid;
    padding: 20px 5px;
}
.add{
  height:60px;
  width: 60px;
}
.imageProduiAdd{
    height: 200px;
    width: 200px;
    padding: 5px;
}
.imageProduiAdd img{
    width: 100%;
    height: 100%;
}
.finalAdd{
    margin-top: 50px;
    text-align: center;
    font-size: 23px;
}

/* responsive */
@media screen and (max-width:732px) {
    .formAdd {
        width:auto;
        height: auto;
    font-size: 18px;
    padding: 15px;
    }
    .inputAdd{
        height:30px;
        width: 295px;
        border-radius: 9999px;
        margin:15px
    }
}
@media screen and (max-width:688px) {
    .finalAdd{
        display: none;
    }
}

    /* Changement de page */

    .activeContenu {
        animation: fade 0.5s forwards;
    }
    .hide{
        display: none;
    } 
       @keyframes fade {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
         
            visibility: visible;
        }
    }
    /*liste des produit*/
    .stockContainer h1{
        text-align: center;
    }
    .donnerStock{
        display: flex;
       
    }
    .productItems{
        display: flex;
        justify-content: space-between;
        height:35px;
        border: 1px solid;
        width: 80%;
        border-radius: 9999px;
        padding-right: 5px;
        margin: 10px;
        overflow: hidden;
        background: #ddd;
       

    }
    .identif{
        margin-right: 10px;
        font-size: 20px;
        text-align: center;
        width:auto;
        padding-right: 10px;
        padding-left: 2px;
        border-right: 1px solid;
        line-height: 35px;
        border-left: 1px solid;
        background: #dddd;


    }
    .donnerStock p{
        font-size: 20px;
        line-height: 35px;
        width: 100px;
    }
    .suppr{
        width: 35px;
        height: 35px;
        margin: 10px;
 background-image: url(icons/moins1.png);
 background-size: cover;
 border-radius: 50%;
    }
    .modif{
        width: 35px;
        height: 35px;
        margin: 10px;
background-image: url(icons/btnModif.png);
background-size: cover;
border-radius: 50%;
    }
    .produitData{
        height: 500px;
        width: 70%;
        border: 1px solid;
        margin: 10px 20px ;
        border-radius: 10px;
        background: #647B98;
        overflow-y: scroll;
    }
    .ProductSearch{
        width: 100%;
        height: 100%;
    }
    .help{
        position: relative;
        width: 80%;
        font-size: 20px;
        background: #647B98;
        padding: 10px;
        margin: 100px auto;
    }
    .refresh{
        width: 35px;
        height: 35px;
        margin: 10px;
        border-radius: 50%;
    }
    .refresh img{
        height: 100%;
        width: 100%;
    }
    .StockPrincipale{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .refresh:hover{
        cursor: pointer;
    }